/* --- DIÁLOGOS --- */
#backgroundFrame {
    background-color: #0F161F;
    border: 3px solid #ff8103;
    border-radius: 15px;
}

#titleDialog {
    color: #72e48c;
}

#sectionLabel{
    color: #D8DEE9;
}

/* --- TOOLTIP  --- */
QToolTip {
    background-color: #0F161F;
    color: #C0C0C0;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #1C2C42;
}

QTextBrowser {
    background-color: transparent;
    border: none;
}